* {
  box-sizing: border-box;
}

:root {
  /* color */
  --brown100: #3a060e;
  --brown50: #3a060580;
  --brown30: #3a060e4d;
  --burgundy: #8c2f39;
  --burgundy-rgb: 140, 47, 57; /* RGB values for burgundy color */
  --burgundy-light: #a84e5a;
  --cream: #f2e9dc;
  --cream-light: #f9f5f0;
  --amber: #d4a373;
  --amber-light: #e6c9a8;
  --white: #fff;
  --grey5: #f5f5f5;
  --grey9: #f9f9f9;
  --grey: #ccc;
  --shadow: #203c1640;
  --button-width: 13rem;
  --button-height: 4.4rem;
  --search-box-width: 44rem;
  --search-box-height: 5.2rem;
  --font-size: 1.6rem;
  --font-size-title: 4rem;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
