.size-component {
  padding: 8px 16px;
  /* margin: 10px; */
  font-size: 1.2rem;
  color: var(--brown100);
  border-radius: 50px;
  border: 1px solid var(--brown100);
  background: var(--white);
  transition: 0.25s;
}

.size-component:hover {
  border-color: var(--green100);
  background: var(--green100);
}
